.movies {
  margin-top: 50px;
  width: 100%;

  .card {
    display: flex;
    margin: auto;
    width: 800px;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .movie-iframe {
    margin-right: 40px;
  }

  .movie-content {
    .title {
      margin: 0;
      font-size: 17px;
      color: red;
    }

    .share-by {
      margin: 0;
      margin-top: 10px;
      font-size: 15px;
    }

    .like-bok {
      margin: 5px 0;
    }

    .desc {
      margin: 10px 0;
      line-height: 1.4;
    }
  }
}

.video-box {
  margin: auto;
  padding: 30px;
  border: solid 1px #000;
  border-radius: 5px;
  position: relative;

  .innertext {
    position: absolute;
    top: -13px;
    left: 10px;
    font-size: 12px;
    background: white;
    z-index: 10;
    padding: 5px;
  }

  .share-video {
    input.btn {
      margin-top: 15px;
    }
  }

  .failed-ms {
    font-size: 12px;
    color: #ff5555;
    text-align: right;
    margin-top: 5px;
  }
}